.friendList {
  display: flex;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  gap: 25px;
  margin-bottom: 50px;
}
.friendListItem {
  width: calc((100% - (4 * 25px)) / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
}
